body {
    background: #e1dfba;
    font-family: 'Paytone One', sans-serif;
}

h1{
    color: #4d424d;
    text-align: center;
    font-size: 6rem;
    padding-top: 1rem;
}

img{
    border-radius: 20px;
}

.col{
    padding: 1.5rem;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    margin: auto;
    width: 50%;
    padding: 12px 20px;
  }
  
.username_class {
    color: #7f7e90;
}

.password_class {
    color: #7f7e90;
}

.socials_class {
    color: #7f7e90;
}