body {
    background: #700f00;
    font-family: 'Indie Flower', cursive;
}

h1{
    color: yellow;
    text-align: center;
    font-size: 6rem;
    padding-top: 1rem;
}

.col{
    padding: 1.5rem;
}

img{
    border-radius: 20px;
}