body {
    background: #e1dfba;
    font-family: 'Paytone One', sans-serif;
}

h1{
    color: #4d424d;
    text-align: center;
    font-size: 6rem;
    padding-top: 1rem;
}

h2{
    color: #4d424d;
    text-align: center;
    font-size: 10rem;
}

img{
    border-radius: 20px;
}

.col{
    padding: 1.5rem;
}

.col:hover{
    padding: 1rem;
}

.login_class {
    background-color: #4CAF50;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.sign_up_class {
    background-color: #4CAF50;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    margin: auto;
    width: 50%;
    padding: 12px 20px;
  }
  
.username_class {
    color: #7f7e90;
}

.password_class {
    color: #7f7e90;
}

.socials_class {
    color: #7f7e90;
}

#popup{
    display: none;
}
.popup-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(96 95 127 / 70%);
    position: fixed;
    top: 0;
    left: 0;
}
.popup{
    background-color: #ffffff;
    padding: 20px 30px;
    height: 90%;
    width: 50%;
    overflow-y:auto;
    border-radius: 15px;
}
.close-popup{
    display: flex;
    justify-content: flex-end;
}
.close-popup a{
    font-size: 1.2rem;
    background-color: #4d424d;;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
}
.popup > h2{
    font-size: 1.6rem;
    margin-bottom: 10px;
}
.popup > p{
    font-size: 1.2rem;
    margin-bottom: 10px;
}