<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="app.css ">

    <style>
      img {
      display: block;
      max-width: 25%;
      height: auto;
      margin: auto;
      
    }
    </style>

    <h1 class="display-2">PETR MARKETPLACE</h1>
    <img src="images/Petr Stickers/petr_default.jpg" alt=".img-fluid. max-width: 25% " class="rounded mx-auto d-block">
    <title>Petr Marketplace: Login</title>
</head>
<body>
    <div class="form-container" style="background-color:#33475b" >
        <form class="form-group" action="" method="post">
            <div class='username_class'>
                <label for="username" class="form-label">Username</label>
                <input id='username' type="text" class="form-control" placeholder="Username">
            </div>
            <div class='password_class'>
                <label for="password" class="form-label">Password</label>
                <input id='password' type="text" class="form-control" placeholder="Password">
            </div>
            <div class='socials_class'>
                <label id ='socials' for="exampleFormControlTextarea1" class="form-label">Any socials?</label>
                <textarea class="form-control" id="socials" rows="3"></textarea>
            </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>

